<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <blockquote class="text-center" style="padding: 20px;">
          <h3>"Ten out of ten, would recommend!"</h3>
          <footer class="blockquote-footer"><%= random_avatar 24, "rounded-circle" %> David Cain <cite title="Source Title">CEO SpeakEasy</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
