<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="pricing-table-2">
        <header class="bg-dark">
          <h1 class="text-white m-0">$99</h2>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <h5 class="bg-gray-900 text-center p-3 text-white m-0">Small Team</h5>
        <ul class="tiere-feature-list">
          <li>30 user license</li>
          <li>1 Location</li>
          <li>Unlimited Campaigns</li>
          <li>Campaign Creator</li>
          <li>Campaign Scheduling</li>
          <li>Campaign Analytics</li>
          <li>Custom Call to Actions</li>
          <li>Campaign Simulator</li>
          <li>SpeakEasy Chat</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <button id="StripeButton" type="button" class="btn btn-info p-4" data-toggle="modal" data-target="#StripeModalPlan">
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="pricing-table-2">
        <header class="bg-dark">
          <h1 class="text-white m-0">$199</h2>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <h5 class="bg-gray-900 text-center p-3 text-white m-0">Medium Team</h5>
        <ul class="tiere-feature-list">
          <li>70 user license</li>
          <li>2 Physical Locations</li>
          <li>5 Virtual Locations</li>
          <li>Multi-location Support</li>
          <li>Unlimited Campaigns</li>
          <li>Campaign Creator</li>
          <li>Campaign Scheduling</li>
          <li>Campaign Analytics</li>
          <li>Custom Call to Actions</li>
          <li>Campaign Simulator</li>
          <li>SpeakEasy Chat</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <button id="StripeButton" type="button" class="btn btn-info p-4" data-toggle="modal" data-target="#StripeModalPlan">
            Buy Now
          </button>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-3">
      <div class="pricing-table-2">
        <header class="bg-dark">
          <h1 class="text-white m-0">$399</h2>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <h5 class="bg-gray-900 text-center p-3 text-white m-0">Large Team</h5>
        <ul class="tiere-feature-list">
          <li>200 user license</li>
          <li>5 Physical Locations</li>
          <li>10 Virtual Locations</li>
          <li>Multi-location Support</li>
          <li>Unlimited Campaigns</li>
          <li>Campaign Creator</li>
          <li>Campaign Scheduling</li>
          <li>Campaign Analytics</li>
          <li>Custom Call to Actions</li>
          <li>Campaign Simulator</li>
          <li>SpeakEasy Chat</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <button id="StripeButton" type="button" class="btn btn-info p-4" data-toggle="modal" data-target="#StripeModalPlan">
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="pricing-table-2">
        <header class="bg-dark">
          <h1 class="text-white m-0">$</h2>
          <p class="text-muted text-uppercase mb-0">Per Month</p>
        </header>
        <h5 class="bg-gray-900 text-center p-3 text-white m-0">Enterprise</h5>
        <ul class="tiere-feature-list">
          <li>More than 200 user license</li>
          <li>Contact Us</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
        <div class="bg-dark d-flex align-items-center justify-content-center p-3">
          <button id="StripeButton" type="button" class="btn btn-info p-4" data-toggle="modal" data-target="#StripeModalPlan">
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
