<div class="modal fade" id="ActivateModal" tabindex="-1" role="dialog" aria-labelledby="Activate Subscription" show style="background: rgba(0, 0, 0, .7);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Activate Subscription</h5>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to activate your subscription?
        </p>
      </div>
      <div class="modal-footer sub-modal-footer">
        <button class='btn btn-danger float-right activate-sub-button'>Confirm</button>
      </div>
    </div>
  </div>
</div>
