<div class="row">
  <div class="col-12 col-md-11 mr-auto ml-auto">
    <div class="card">
      <div class="card-body account_card">
        <h5>Enterprise Client</h5>
        <p>
          You are currently enrolled in SpeakEasy Enterprise. Enterprise subscriptions
          are not currently handled through an online service. If you have any questions,
         need assistance, or are looking to edit this plan please contact SpeakEasy
         directly.
        </p>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'billing/payment_modal' %>
