<div class="modal fade" id="NoPlanModal" tabindex="-1" role="dialog" aria-labelledby="No Plan Modal" style="background: rgba(0, 0, 0, .7);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Must Choose a Plan</h5>
      </div>
      <div class="modal-body">
        <p>
          Must choose a plan before checking out.
        </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>
