<h5>Key Performance Metrics - Current Billing Period</h5>
<div class="row">
  <div class="col">
    <div class="card card-mini  ">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h6 class="m-0 text-muted">ENGAGEMENTS</h6>
            <h4><%=@shares%></h4>
          </div>
          <div class="d-flex align-self-center ml-3">
            <span>
              <i class="material-icons" style="font-size:36px">share</i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-mini  ">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h6 class="m-0 text-muted">IMPRESSIONS</h6>
            <h4><%=@engagements%></h4>
          </div>
          <div class="d-flex align-self-center ml-3">
            <span>
              <i class="material-icons" style="font-size:36px">insert_emoticon</i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-mini  ">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h6 class="m-0 text-muted">CONVERSIONS</h6>
            <h4><%=@conversions%></h4>
          </div>
          <div class="d-flex align-self-center ml-3">
            <span>
              <i class="fa fa-exchange" style="font-size:36px"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-mini  ">
      <div class="card-body">
        <div class="media">
          <div class="media-body text-left">
            <h6 class="m-0 text-muted">TEAM</h6>
            <h4><%=@agentCount%></h4>
          </div>
          <div class="d-flex align-self-center ml-3">
            <span>
              <i class="fa fa-group" style="font-size:36px"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
