<%= content_for :js_libs, "modernizr" %>
<section class="p-5" style="background-color: #102BD3;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-white" style="text-align: center;">
        <h1>SpeakEasy Privacy Policy</h1>
      </div>
    </div>
  </div>
</div>
</section>
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-8 ml-md-auto mr-md-auto">
      <div class="well mt40 mb40">

          <h1>Privacy Policy</h1>
          <h2>PLEASE READ THIS PRIVACY POLICY CAREFULLY BEFORE USING THE SERVICES</h2>

          <p>
            SpeakEasy Software LLC (“Company” or “we”), recognizes the importance of your privacy.
            This Privacy Policy outlines the types of information we gather
            when you use any website or mobile application made available by
            Company with this Privacy Policy (each a “Service”), and how we use
            that information, as well as some of the steps we take to safeguard it.
            It is important to review this Privacy Policy in its entirety.
          </p>

          <p>
            As part of the operation of the Services, certain pieces of information
            are gathered about the users (individually, “you” or a “User” and collectively,
            “Users”).  This Privacy Policy contains explanations regarding the types of
            information collected, what is done with such information, and how to
            correct or change the information.
          </p>

          <h3>The Information We Collect</h3>

          <p>
            Information you Provide to Company.  We collect Personally Identifying
            Information that you provide to Company.  “Personally Identifying Information”
            is information that individually identifies you, and may include your name,
            physical address, phone number, and e-mail address, and any other
            information that would allow someone to identify or contact you.
            Of course, you may choose not to provide Company with Personally
            Identifying Information. However, this choice may prevent Company from
            providing you with the information or Services you requested or
            that could be offered to you.
          </p>

          <p>
            Message Content.  We collect the contents of any messages that
            are typed directly into the Services as part of a text to an
            individual user (“Message Content”).  We do not collect the content
            of any messages that are typed directly into the default text messaging
            application used by your phone and cannot read or access any such messages,
            even when you send an offer or other content from the Services
            (“Services Content”) via text messages.
          </p>

          <p>
            Information We Collect Automatically When You Use the Services.
            When you access or use the Services, we may automatically collect
            information about you, including:
          </p>

          <ul>
            <li>
              <b>Usage, System, and Log Data.</b>  Your IP address, device identifier,
              location information, MAC address, browser, and activity on the Service,
              including, but not limited to, date and times of use, clicks, page and
              whether recipients of Services Content open the Services Content,
              and the amount of time you spend on each page.
            </li>
            <li>
              <b>Data Collected Through Cookies and Similar Technologies.</b>
              Like many online services, we use various technologies to collect
              usage data and store preferences. One such technology is called a
              cookie. A cookie is a small data file that is transferred to your
              computer’s hard disk. We may use both session cookies and persistent
              cookies to better understand how you interact with the Services and
              to monitor aggregate usage by our users and web traffic routing on
              the Services.  Also, we may create a unique device or user ID for
              you and store it in a cookie so we can recognize you and customize
              your experience based on your preferences. Most web browsers are set
              to accept cookies by default. If you prefer, you can usually choose
              to set your browser to remove or reject browser cookies or to prompt
              you before accepting such a cookie. Please note that if you choose
              to remove or reject browser cookies, this could affect the availability
              or functionality of the Services.  We may also use web beacons,
              clear GIFs, or 1×1 pixels as part of the Services.
            </li>
          </ul>

          <h3>Using the Information</h3>

          <p>
            Use in General.  We may use your information for a variety of purposes, including to:
          </p>

          <ul>
            <li>
              Provide, operate, maintain and improve the Service;
            </li>
            <li>
              Respond to your comments, questions, and requests and to
              provide customer service and support;
            </li>
            <li>
              Conduct research;
            </li>
            <li>
              Prevent potentially illegal activities;
            </li>
            <li>
              Allow you to redeem Services Content;
            </li>
            <li>
              Fulfill your requests through the Services;
            </li>
            <li>
              Send you promotional materials and information;
            </li>
            <li>
              Monitor and analyze trends, usage, and activities in connection
              with the Services and for marketing or advertising purposes; and
            </li>
            <li>
              For other purposes about which we notify you.
            </li>
          </ul>

          <p>
            Use of Message Content.  In addition to the other uses described in
            this Privacy Policy, we may share any Message Content with the
            organization or business that originally sent the Services Content
            for purposes of evaluating the effectiveness of different types of
            Message Content and for assessing how to best use the Services.
          </p>

          <p>
            Use of Aggregate or De-Identified Information.  In addition to the
            individual data use described in this Privacy Policy, we may aggregate
            information about you and other individual users together, or
            otherwise de-identify the information about you, so that the
            information does not identify you personally.  We may use
            information in these forms for a variety of purposes, including for
            research and analysis, administration of the Services, and advertising.
            We own all de-identified data collected through the Services.
          </p>

          <h3>Sharing and Disclosure of Information</h3>

          <p>
            We will not share Personally Identifying Information about you with
            any third parties except as described in this Privacy Policy:
          </p>

          <ul>
            <li>
              Service Providers.  We may share your Personally Identifying
              Information with third-party vendors, consultants, and other
              service provides who are working on behalf of Company and require
              access to your Personally Identifying Information to carry out
              that work.
            </li>
            <li>
              Compliance with Laws.  We may disclose your Personally Identifying
              Information to a third party if (1) we believe that disclosure is
              reasonably necessary to comply with any applicable law, regulation,
              legal process or governmental request, (2) to enforce our
              agreements, policies, or Terms of Use, and (3) to respond to an
              emergency which we believe in good faith requires us to disclose
              such information to assist in preventing the death or serious
              bodily injury of any person.
            </li>
            <li>
              Recipients of Message Content.  We may share Message Content
              with the person that you designate to receive such Message
              Content via text message.
            </li>
            <li>
              Business Transfers.  We may share or transfer your Personally
              Identifying Information in connection with, or during negotiations
              of, any merger, sale of company assets, financing, or acquisition
              of all or a portion of our business to another company.
            </li>
            <li>
              Affiliates.  We may share your Personally Identifying Information
              with affiliates of Company for use as otherwise described in this
              Privacy Policy.
            </li>
          </ul>

          <h3>Public Forums</h3>

          <p>
            You should be aware that when you voluntarily disclose any
            Personally Identifying Information in a public forum available on
            the Services, this information, along with any information disclosed
            in your communication, can be collected and used by third parties
            and may result in unsolicited messages from third parties. Such
            activities are beyond our control and this Privacy Policy does not
            apply to such information. You accept that you, and not Company, are
            responsible for providing such information in any public forum. Any
            submissions to public areas on the Services are accepted by you with
            the understanding that such forums are accessible to all third
            parties. If you do not want your comments or any content to be
            viewed by third parties, you should not submit comments or contents
            on public forums.
          </p>

          <h3>Safeguards</h3>

          <p>
            Company protects your Personally Identifying Information by using
            information security safeguards.  Unfortunately, neither the network
            nor data transmission over the internet can be guaranteed to be 100%
            secure.  As a result, while we strive to protect a User’s
            information, Company cannot ensure or warrant the security of
            Personally Identifying Information or other information submitted
            through a Service.  Thus, any information a User transmits to us is
            done so at the User’s own risk.
          </p>

          <h3>Online Tracking</h3>

          <p>
            The Services do not respond to Do Not Track signals.
          </p>

          <h3>Accountability and Compliance</h3>

          <p>
            You may address any question regarding how Company complies with
            this Privacy Policy to the e-mail address set forth in this Privacy
            Policy.
          </p>

          <h3>Third-Party Websites</h3>

          <p>
            On occasion, the Services are connected by “hyperlinks” to other
            third party’s websites.  Please note that Company is not responsible
            in any way for the privacy practices of other websites and suggests
            that you review the privacy policies of those other companies’
            websites before using them.
          </p>

          <h3>Accessing Your Personally Identifying Information Once Given</h3>

          <p>
            If you believe your Personally Identifying Information is
            inaccurate, you may contact Company to amend or delete your
            Personally Identifying Information.  You have the right to request
            information about the existence, use, and disclosure of your
            Personally Identifying Information and to challenge the accuracy and
            completeness of your Personally Identifying Information, and to have
            your Personally Identifying Information amended where inaccurate or
            deleted from the Company database.  To do so, simply e-mail Company
            at the e-mail address set forth in this Privacy Policy.
          </p>

          <h3>Social Media Features and Widgets</h3>

          <p>
            The Services include social media features and widgets. These
            features may collect your IP address, which page you are visiting
            through the Services, other applicable information, and may set a
            cookie to enable the feature to function properly. Social media
            functions are either hosted by a third party or hosted directly
            through the Services. Your interactions with these features are
            governed by the privacy policy of the company providing them.
          </p>

          <h3>Minors</h3>

          <p>
            The Services are not intended for people under the age of 13.
            Further, we do not knowingly collect Personally Identifying
            Information from children under the age of 13.  If you are a parent
            or guardian of a child under the age of 13 and believe he or she has
            disclosed Personally Identifying Information to us, please contact
            us at the e-mail address set forth in this Privacy Policy and
            Company will delete such Personally Identifying Information.
          </p>

          <h3>Consent to Transfer</h3>

          <p>
            Please be aware that information we collect through the Service may
            be transferred to and processed in the United States, where the
            privacy laws may not be as comprehensive as those in the country
            where you reside or are a citizen.  By using the Services or
            providing Company with any information, you consent to transfer,
            processing, and storage of your information in the United States or
            such other countries as Company choose in its sole discretion.
          </p>

          <h3>Changes to This Policy</h3>

          <p>
            Please note this Privacy Policy is subject to change from time to
            time.  We will notify you of material changes to this Privacy
            Policy by either sending you an e-mail or by including prominent
            notice of such change on a Company website or other applicable
            Service.  The effective date of each version of the Privacy Policy
            will be included in this Privacy Policy. Prior versions of this
            Privacy Policy will be kept in an archive for you to view for a
            reasonable period of time.
          </p>

          <h3>Contact Information</h3>

          <p>
            If you want to contact Company about anything related to this
            Privacy Policy, please send an e-mail to privacy@justspeakeasy.com
          </p>

          <p>
            Effective Date: January 1, 2018
          </p>
      </div>
    </div>
  </div>
</div>
