<div class="container">
  <div class="page-header">
    <h1>All done!</h1>
    <p>Please download the SpeakEasy: Friends and Family Promotions App on your mobile device.</p>
    <br>
    <% cache do %>
        <%
          c = ParseResource::ParseConfig.config
          itunes_url   = c['params']['apple_app_store_url']
          google_url   = c['params']['google_play_url']
        %>
        <a href="<%= itunes_url %>">
          <img src="<%=image_path('appstore.svg')%>" alt="">
        </a>
        <a href="<%= google_url %>">
          <img src="<%=image_path('googleplay.png')%>" alt="" style="width: 150px">
        </a>
    <% end %>

  </div>


</div>