.nav-bar-top {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  height: 75px;
  background-color: #FFFFFF !important;
}

.nav-image-link {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.nav-image {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-left: 5px !important;
  width: 80px !important;
}

.nav-text {
  font-size: 15px !important;
  font-style: normal !important;
  color: #000000 !important;
  margin-left: 18px;
}
