<nav class="nav-side-menu navbar-expand-lg">
  <%= render partial: 'layouts/side_menu_header' %>

  <div id="menu-content" class="navbar-collapse collapse">
    <div class="nav-side-container">
      <ul class="navbar-nav flex-column">
        <%= render partial: 'layouts/side_menu_main_content' %>
        <%= render partial: 'layouts/side_menu_lower_content' %>
        <%= render partial: 'layouts/side_menu_footer' %>
      </ul>
    </div>
  </div>
</nav>
