<div class="nav-list-bottom">
  <li class="nav-item">
    <a class="nav-link nav-list-pad" href="https://knowledge.justspeakeasy.com/knowledge/kb-tickets/new" target="_blank">
       <%= fa_icon_tag("bug") %>
      <span>Bugs and Suggestions</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-list-pad" href="https://knowledge.justspeakeasy.com/knowledge" target="_blank">
      <%= theme_icon_tag "help" %>
      <span>Resources</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-list-pad" href="/settings">
      <%= theme_icon_tag "settings" %>
      <span>Settings</span>
    </a>
  </li>
</div>
